.body {
    background-color:#F5F5F5;
    color: rgba(33, 33, 33, 1);
}
.logo {
    color: #212121;
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
    letter-spacing: 0.03em;
}
.Web-logo {
    color: #2196F3
}
.site-nav .link {
    color:#212121
}
.site-nav .link:hover,
.site-nav .link:focus
{
    color:#2196F3
}
/* цвет заголовка #212121 */
/* цвет текста #757575 */
/* акцентовый #2196F3 */
/* белый #FFFFFF */
/* фон команды #2F303A */
/* основной фон #F5F5F5
} */
ul {
    list-style: none;
}