:root {
    --accent-color:#2196F3; 
    --primary-font:'Roboto',
        sans-serif;
    --secondary-font:'Raleway',
        sans-serif;
    --primary-text-color:#212121;
    --secondary-text-color: #757575;
    --primary-background-color:#FFFFFF;
    --secondary-background-color:#F5F4FA;
    --dark-background-color:#2F303A;
    
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
}
button {
cursor: pointer;
font-family: inherit;
}
.current {
    color: var(--accent-color:);
}
body {
    background-color:var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
}
.logo {
    color: var(--primary-text-color);
    font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1,19;
    letter-spacing: 0.03em;
}
.Web-logo {
    color:var(--accent-color);
}
.link {
        line-height: 1,14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
 .link:hover,
 .link:focus,
 .contact-mail:hover,
 .contact-mail:focus
{
    color:var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color); 
}

.contact-mail{
        line-height: 1,14;
        letter-spacing: 0.02em;
        color:var(--secondary-text-color);
}
.contact-phone-number {
        line-height: 1,14;
        letter-spacing: 0.02em;
        color:var(--secondary-text-color);
}
.contact-phone-number:hover,
.contact-phone-number:focus{
    color:var(--accent-color);
}

.modal-open-btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 1,87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(-primary-text-color);
        
}
.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.visually-hidden {
       position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}
.team-list {
background-color:var(--secondary-background-color);
}

.hero-section, 
.section-footer
{
    background-color: var(--dark-background-color);
font-style: normal;
}
.head-hero {
    font-weight: 900;
        font-size: 44px;
        line-height: 1,36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.press-btn-menu {
        font-size: 16px;
        line-height: 1,16;
        text-align: center;
        letter-spacing: 0.03em;
         color: var(--primary-text-color);    
}

.press-btn-menu:hover,
.press-btn-menu:focus {
    background-color: var(--accent-color);
    color:#FFFFFF
}
.item-list {
    font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
}
.gallery-items {
    font-weight: 700;
        font-size: 36px;
        line-height: 1,16;
        text-align: center;
        letter-spacing: 0.03em;
}
.team-name {
    font-weight: 500;
        font-size: 16px;
        line-height: 1,19;
        text-align: center;
        letter-spacing: 0.03em;
}
.job-position {
font-weight: 400;
    font-size: 16px;
    line-height: 1,19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.icon-name {
font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.discription-icons {
font-weight: 400;
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

